{
  "zip" : "30130141",
  "country" : "BR",
  "city" : "Belo Horizonte",
  "last_name" : "Bezos",
  "industry" : "Software & Technology",
  "eula" : "yes",
  "title" : "Director",
  "phone" : "+553133333333",
  "company" : "Amazon",
  "state" : "BR-MG",
  "department" : "Engineering/Development",
  "first_name" : "Jeff",
  "email" : "jeffbezos@amazon.com"
}